version: 2.1
orbs:
  slack: circleci/slack@3.3.0
  kubernetes: circleci/kubernetes@0.11.1
jobs:
  build:
    docker:
      - image: circleci/golang:1.14
    working_directory: /go/src/github.com/tilt-dev/ctlptl
    steps:
      - checkout
      - run: go get -v -t -d ./...
      - run: go test -v ./...
      - run: go get github.com/golangci/golangci-lint/cmd/golangci-lint@v1.30.0 && make golangci-lint
      - slack/notify-on-failure:
          only_for_branches: master

  e2e-remote-docker:
    docker:
      - image: gcr.io/windmill-public-containers/ctlptl-e2e-ci
    working_directory: /go/src/github.com/tilt-dev/ctlptl
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.12
      - run: make install
      - run: test/kind-cluster-network/e2e.sh
          
  e2e:
    machine:
      image: ubuntu-1604:201903-01
    working_directory: /home/circleci/.go_workspace/src/github.com/tilt-dev/ctlptl
    steps:
      - checkout
      - kubernetes/install-kubectl
      - run: |
          set -ex
          wget https://golang.org/dl/go1.15.5.linux-amd64.tar.gz
          sudo rm -fR /usr/local/go
          sudo tar -C /usr/local -xzf go1.15.5.linux-amd64.tar.gz
      - run: |
          set -ex
          export MINIKUBE_VERSION=v1.15.0
          curl -fLo ./minikube-linux-amd64 "https://github.com/kubernetes/minikube/releases/download/${MINIKUBE_VERSION}/minikube-linux-amd64"
          chmod +x ./minikube-linux-amd64
          sudo mv ./minikube-linux-amd64 /usr/local/bin/minikube
      - run: |
          set -ex
          export KIND_VERSION=v0.10.0
          curl -fLo ./kind-linux-amd64 "https://github.com/kubernetes-sigs/kind/releases/download/${KIND_VERSION}/kind-linux-amd64"
          chmod +x ./kind-linux-amd64
          sudo mv ./kind-linux-amd64 /usr/local/bin/kind
      - run: |
          set -ex
          go get -v -t -d ./...
          test/e2e.sh
      - slack/notify-on-failure:
          only_for_branches: master
          
  release-dry-run:
    docker:
      - image: circleci/golang:1.14
    steps:
      - checkout
      - run: git fetch --tags
      - run: curl -sfL https://install.goreleaser.com/github.com/goreleaser/goreleaser.sh | sh
      - run: sudo mv ./bin/goreleaser /usr/local/bin/
      - run: goreleaser --rm-dist --skip-publish --snapshot
      - slack/notify-on-failure:
          only_for_branches: master
          
  release:
    docker:
      - image: circleci/golang:1.14
    steps:
      - checkout
      - run: git fetch --tags
      - run: curl -sfL https://install.goreleaser.com/github.com/goreleaser/goreleaser.sh | sh
      - run: sudo mv ./bin/goreleaser /usr/local/bin/
      - run: goreleaser --rm-dist
      - slack/status:
          mentions: "nick"
        
workflows:
  version: 2
  build:
    jobs:
      - build
      - e2e:
          requires:
            - build
      - e2e-remote-docker:
          requires:
            - build
      - release-dry-run:
          requires:
            - build
  release:
    jobs:
      - release:
          context:
          - Tilt Release CLI Context
          filters:
            branches:
              only: never-release-on-a-branch
            tags:
              only: /v[0-9]+.[0-9]+.[0-9]+/
