version: 2.1
orbs:
  slack: circleci/slack@3.3.0
  kubernetes: circleci/kubernetes@0.11.1
jobs:
  build:
    docker:
      - image: circleci/golang:1.17
    working_directory: /go/src/github.com/tilt-dev/ctlptl
    steps:
      - checkout
      - run: go get -v -t -d ./...
      - run: go test -v ./...
      - run: cd .. && go get github.com/golangci/golangci-lint/cmd/golangci-lint@v1.38.0
      - run: make golangci-lint
      - slack/notify-on-failure:
          only_for_branches: main

  e2e-remote-docker:
    docker:
      - image: gcr.io/windmill-public-containers/ctlptl-e2e-ci
    working_directory: /go/src/github.com/tilt-dev/ctlptl
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.11
      - run: make install
      - run: test/kind-cluster-network/e2e.sh
          
  e2e:
    machine:
      image: ubuntu-2004:202111-02
    working_directory: /home/circleci/.go_workspace/src/github.com/tilt-dev/ctlptl
    steps:
      - checkout
      - kubernetes/install-kubectl
      - run: |
          set -ex
          wget https://golang.org/dl/go1.17.2.linux-amd64.tar.gz
          sudo rm -fR /usr/local/go
          sudo tar -C /usr/local -xzf go1.17.2.linux-amd64.tar.gz
      # We need a newer Docker version to work around a k3d/containerd bug.
      # https://github.com/rancher/k3d/issues/807
      - run: |
          set -ex
          curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /usr/share/keyrings/docker-archive-keyring.gpg
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/ubuntu \
            $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
          sudo apt update
          export DEBIAN_FRONTEND=noninteractive
          sudo apt upgrade -y containerd.io
      - run: |
          set -ex
          export MINIKUBE_VERSION=v1.23.2
          curl -fLo ./minikube-linux-amd64 "https://github.com/kubernetes/minikube/releases/download/${MINIKUBE_VERSION}/minikube-linux-amd64"
          chmod +x ./minikube-linux-amd64
          sudo mv ./minikube-linux-amd64 /usr/local/bin/minikube
      - run: |
          set -ex
          export KIND_VERSION=v0.11.1
          curl -fLo ./kind-linux-amd64 "https://github.com/kubernetes-sigs/kind/releases/download/${KIND_VERSION}/kind-linux-amd64"
          chmod +x ./kind-linux-amd64
          sudo mv ./kind-linux-amd64 /usr/local/bin/kind
      - run: |
          set -ex
          export TAG=v5.2.2
          curl -s https://raw.githubusercontent.com/rancher/k3d/main/install.sh | bash
      - run: |
          set -ex
          go get -v -t -d ./...
          test/e2e.sh
      - slack/notify-on-failure:
          only_for_branches: main
          
  release-dry-run:
    docker:
      - image: circleci/golang:1.17
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.6
      - run: git fetch --tags
      - run: go install github.com/goreleaser/goreleaser@latest
      - run: goreleaser --rm-dist --skip-publish --snapshot
      - slack/notify-on-failure:
          only_for_branches: main
          
  release:
    docker:
      - image: circleci/golang:1.17
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.6
      - run: git fetch --tags
      - run: go install github.com/goreleaser/goreleaser@latest
      - run: ./hack/release.sh
      - slack/status:
          mentions: "nick"
        
workflows:
  version: 2
  build:
    jobs:
      - build
      - e2e:
          requires:
            - build
      - e2e-remote-docker:
          requires:
            - build
      - release-dry-run:
          requires:
            - build
  release:
    jobs:
      - release:
          context:
          - Tilt Release CLI Context
          - Tilt Docker Login Context
          filters:
            branches:
              only: never-release-on-a-branch
            tags:
              only: /v[0-9]+.[0-9]+.[0-9]+/
