version: 2.1
orbs:
  slack: circleci/slack@3.3.0
  kubernetes: circleci/kubernetes@0.11.1
jobs:
  build:
    docker:
      - image: cimg/go:1.24
    steps:
      - checkout
      - run: go get -v -t -d ./...
      - run: go test -v ./...
      - run: cd .. && go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8
      - run: make golangci-lint
      - slack/notify-on-failure:
          only_for_branches: main
  e2e-remote-docker:
    docker:
      - image: "docker/tilt-ctlptl-ci@sha256:4bb1c8ca66157e1ea8dc63711666ca0a9f5a30d3f8dbe124315e76d447f93144"
    steps:
      - checkout
      - setup_remote_docker
      - run: make install
      - run: test/kind/e2e.sh
  e2e:
    machine:
      image: ubuntu-2204:2023.04.2
    steps:
      - checkout
      - kubernetes/install-kubectl
      - run: |
          set -ex
          wget https://golang.org/dl/go1.24.0.linux-amd64.tar.gz
          sudo rm -fR /usr/local/go
          sudo tar -C /usr/local -xzf go1.24.0.linux-amd64.tar.gz
      - run: |
          set -ex
          export MINIKUBE_VERSION=v1.34.0
          curl -fLo ./minikube-linux-amd64 "https://github.com/kubernetes/minikube/releases/download/${MINIKUBE_VERSION}/minikube-linux-amd64"
          chmod +x ./minikube-linux-amd64
          sudo mv ./minikube-linux-amd64 /usr/local/bin/minikube
      - run: |
          set -ex
          export KIND_VERSION=v0.27.0
          curl -fLo ./kind-linux-amd64 "https://github.com/kubernetes-sigs/kind/releases/download/${KIND_VERSION}/kind-linux-amd64"
          chmod +x ./kind-linux-amd64
          sudo mv ./kind-linux-amd64 /usr/local/bin/kind
      - run: |
          set -ex
          export TAG=v5.6.0
          curl -s https://raw.githubusercontent.com/rancher/k3d/main/install.sh | bash
      - run: |
          set -ex
          go get -v -t -d ./...
          test/e2e.sh
      - slack/notify-on-failure:
          only_for_branches: main
  release-dry-run:
    docker:
      - image: golang:1.24-bookworm
    steps:
      - checkout
      - setup_remote_docker
      # https://discuss.circleci.com/t/arm-version-of-remote-docker/41624
      - run: ssh remote-docker "sudo apt-get update; sudo apt-get install -y qemu-user-static binfmt-support"
      - run: git fetch --tags
      - run: go install github.com/goreleaser/goreleaser/v2@latest
      - run: |
          set -e
          pushd /tmp
          apt-get update && apt-get install -y \
            ca-certificates \
            curl \
            gnupg \
            lsb-release
          mkdir -p /etc/apt/keyrings
          curl -fsSL https://download.docker.com/linux/debian/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
          echo \
            "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/debian \
            $(lsb_release -cs) stable" | tee /etc/apt/sources.list.d/docker.list > /dev/null
          apt-get update
          apt-get install -y docker-ce-cli docker-buildx-plugin
          docker --version
          rm -rf /var/lib/apt/lists/*

          popd
      - run: goreleaser --verbose --clean --skip=publish --snapshot
      - slack/notify-on-failure:
          only_for_branches: main
  release:
    docker:
      - image: golang:1.24-bookworm
    steps:
      - checkout
      - setup_remote_docker
      # https://discuss.circleci.com/t/arm-version-of-remote-docker/41624
      - run: ssh remote-docker "sudo apt-get update; sudo apt-get install -y qemu-user-static binfmt-support"
      - run: git fetch --tags
      - run: go install github.com/goreleaser/goreleaser/v2@latest
      - run: |
          set -e
          pushd /tmp
          apt-get update && apt-get install -y \
            ca-certificates \
            curl \
            gnupg \
            lsb-release
          mkdir -p /etc/apt/keyrings
          curl -fsSL https://download.docker.com/linux/debian/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
          echo \
            "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/debian \
            $(lsb_release -cs) stable" | tee /etc/apt/sources.list.d/docker.list > /dev/null
          apt-get update
          apt-get install -y docker-ce-cli docker-buildx-plugin
          docker --version
          rm -rf /var/lib/apt/lists/*

          popd
      - run: ./hack/release.sh
      - slack/status:
          mentions: "nick"
workflows:
  version: 2
  build:
    jobs:
      - build
      - e2e:
          requires:
            - build
      - e2e-remote-docker:
          requires:
            - build
      - release-dry-run:
          requires:
            - build
  release:
    jobs:
      - release:
          context:
            - Tilt Release CLI Context
            - Tilt Docker Login Context
          filters:
            branches:
              only: never-release-on-a-branch
            tags:
              only: /v[0-9]+.[0-9]+.[0-9]+/
